{% set Title = "3proxy tiny free proxy server для Windows, Linux, Unix: SOCKS, HTTP, FTP proxy" %}
{% include "../include/intro.html" %}

<p>
<h2>Документация и помощь по 3proxy</h2>
<p>
<ul>
	<li><A HREF="/doc/3proxy_for_dummies.rtf">Семь слоев матрешки, или Настройка 3proxy для чайников</A>
	<li><A HREF="/doc/">Manual pages</A>
	<li><A HREF="/howtor.html">HowTo (Русский)</A>
	<li><A HREF="/howtoe.html">HowTo (Английский, незавершен)</A>
	<li><A HREF="/securityen.html">Security Considerations</A>
	<li><A HREF="/highload.html">High load optimization</A>
	<li><A HREF="/doc/ru/example1.txt">Пример конфигурации</A>
	<li><A HREF="/doc/ru/iodbc.txt">Настройка 3proxy с использованием iODBC под Unix</A>
	<li><A HREF="/doc/devref.rtf">Мануал для разработчиков (интерфейс плагинов), в начальной стадии</A>
</ul>
<p>

{% include "../include/postpage.html" %}