{% set Title = "Плагин аутентификации Windows для 3proxy" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/WindowsAuthentication.ru.html" %}

{% include "../../include/postpage.html" %}