{% set Title = "Плагин подмены строк 3proxy" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/StringsPlugin.ru.html" %}

{% include "../../include/postpage.html" %}