{% set Title = "Стабильная версия 3proxy" %}
{% include "../../include/intro.html" %}

<h3>Вам помогает 3proxy? Можно задонатить в рублях через <a href="https://www.tinkoff.ru/sl/P223p57JPc">tinkoff.ru</a>
или <a href="/donations/">любой другой</a> форме.</h3>

<h2>Текущая стабильная версия: загрузить с <a href="https://github.com/3proxy/3proxy/releases/latest">Github</a>, образы docker на <a href="https://hub.docker.com/repository/docker/3proxy/3proxy">DockerHub</a></h2>

{% include "../../include/postpage.html" %}