{% set Title = "Плагин коррекции траффика 3proxy" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/TrafficPlugin.ru.html" %}

{% include "../../include/postpage.html" %}