{% set Title = "Плагин SSL/TLS для 3proxy" %}
{% include "../../include/intro.html" %}

<p>Поддержка SSL/TLS встроена в основной бинарный файл 3proxy начиная с версии 0.9.7 и больше не распространяется как отдельный плагин. См. <a href="/doc/man5/3proxy.cfg.5.html">3proxy.cfg(5)</a> для параметров конфигурации.

{% include "../../include/postpage.html" %}