{% set Title = "Помощь проекту: 3proxy tiny free proxy server" %}
{% include "../include/intro.html" %}

<h2>Помощь проекту 3proxy</h2>
Если Вы хотите оказать финансовую или техническую помощью проекту, или у
Вас есть какие-либо предложения о сотрудничестве, пожалуйста обращайтесь
3proxy@3proxy.ru, ICQ 1368139. 
Пожертвовать через <a href="https://www.tinkoff.ru/cf/AE6YOC9vvFJ">tinkoff.ru</a>
BTC: <A href="bitcoin:1BFYgmikjfUXzaPRwFDkR25oebBBPvpzj8">1BFYgmikjfUXzaPRwFDkR25oebBBPvpzj8</A>, 
WMZ: Z793615900490 WMR: R161265384006, возможно перевести так же безналичным платежом.
<h4>Зачем нужна поддержка?</h4>
Финансовая поддержка позволит разработчикам уделять проекту больше времени.
Поэтому, любые пожелания к дальнейшему развитию проекта и реализации новых
возможностей, сопровождаемые пожертвованиями в помощь проекту будут
учитываться в первую очередь. Это ни в коем случае не означает, что прочие
пожелния будут игнорироваться.
<h4>Сколько пожертвовать?</h4>
Конечно чем больше - тем лучше :) Но даже пожертвование в 2 цента будет
если и не материальной, то моральной поддержкой для разработчиков.
<h4>Что еще можно сделать для проекта?</h4>
Посвятите проекту свои навыки и время. Участвуйте в разработке, тестировании, аудите и документировании проекта. Свяжитесь с раразботчиками <a href="mailto:3proxy@3proxy.ru">3proxy@3proxy.ru</a>.

{% include "../include/postpage.html" %}