{% set Title = "3proxy :: загрузить" %}
{% include "../include/intro.html" %}

<h3>Вам помогает 3proxy? Можно задонатить в рублях через <a href="https://www.tinkoff.ru/sl/P223p57JPc">tinkoff.ru</a>
или <a href="/donations/">любой другой</a> форме.</h3>

<h2>Загрузить 3proxy tiny free proxy</h3>
<ul>
<li><a href="stable/">Стабильная версия</a></li>
<!--
<li><a href="devel/">Разрабатываемая версия</a></li>
-->
<li>GIT: <A href="https://github.com/3proxy/3proxy">https://github.com/3proxy/3proxy</A></li>
<li>Архив старых версий: <A HREF="https://github.com/z3APA3A/3proxy-archive">https://github.com/z3APA3A/3proxy-archive</A></li>
<li>См. так же: <A HREF="/plugins/">Расширения и дополнения</A></li>

</ul>
<P>
 В настоящее время нет постоянного мэйнтейнера порта 3proxy для многих
 дистрибутивов. 
 Если вы хотите стать мейнтейнером пишите на 3proxy@3proxy.ru.

{% include "../include/postpage.html" %}