{% set Title = "Плагин регулярных выражений совместимых с Perl (PCRE) для 3proxy" %}
{% include "../../include/intro.html" %}

<p>Поддержка PCRE2 (Perl Compatible Regular Expressions) встроена в основной бинарный файл 3proxy начиная с версии 0.9.7 и больше не распространяется как отдельный плагин. См. <a href="/doc/man5/3proxy.cfg.5.html">3proxy.cfg(5)</a> для параметров конфигурации.

{% include "../../include/postpage.html" %}