{% set Title = "Плагин регулярных выражений совместимых с Perl (PCRE) для 3proxy" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/PCREPlugin.ru.html" %}

{% include "../../include/postpage.html" %}